@use './constants';
@use '../base/spacing';
@use '../base/palette';

.navbar_container {
  border-bottom: 1px solid palette.$line-lightmode;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 spacing.$space-lg;
  height: constants.$navbar-height;
  max-width: constants.$page-max-width;
}

.navbar_link {
  text-decoration: none;
  color: palette.$font-color-lightmode-1;
  padding-right: spacing.$space-lg;
  font-weight: bold;

  &:hover {
    opacity: constants.$hover-opacity;
  }
}

.theme_toggler_button {
  font-size: 1rem;
  aspect-ratio: 1;
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: 1px solid palette.$line-lightmode;
  padding: spacing.$space-xxs spacing.$space-sm;
  border-radius: constants.$border-radius-sm;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    background-color: palette.$white;
  }
}

:global(body.dark) {
  .navbar_container {
    border-bottom: 1px solid palette.$line-darkmode;
  }

  .navbar_link {
    color: palette.$font-color-darkmode-1;
  }

  .theme_toggler_button {
    border: 1px solid palette.$line-darkmode;
    color: palette.$font-color-darkmode-1;

    &:hover {
      background-color: palette.$primary-dark-3;
    }
  }
}
