@use './constants';
@use '../base/global';

.navbar {
  @include global.layout-container;
  display: flex;
  align-items: center;
  height: constants.$navbar-height;
}

.navbar_link {
  padding: 0.5rem;
}
