@use '../../styles/global/spacing';
@use '../../styles/global/constants';

.code_block {
  padding: spacing.$space-md;
  margin: spacing.$space-md 0;
  border-radius: constants.$border-radius-sm;
  font-size: small;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  line-height: 1.6;
}
